body {
  background-color: rgb(11, 108, 187);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 13px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.header img {
  max-width: 130px;
  width: 100%;
  border-radius: 40%;
}
.header p {
  font-size: 1.5rem;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding-top: 20px;
  font-size: 1.5rem;
  color: black;
}

.hero-section {
  background-color: rgb(183, 248, 237);
  background-blend-mode: darken;
  background-image: url("images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  font-size: 1.5rem;
}

.art-creation-description {
  text-align: center;
}
.hero-link {
  font-weight: bolder;
  color: blue;
  font-size: 1.5rem;
}
p {
  font-weight: 600;
}
.about-us {
  background-color: rgb(43, 168, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about-us a {
  font-size: 1.5rem;
  color: blue;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /*  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr)); */

  gap: 30px;
  margin-bottom: 100px;
  box-sizing: border-box;
  width: 100%;
}

.services img {
  max-width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: rgb(151, 122, 233);
  padding: 10px;
}

.grid-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(43, 168, 226);
  font-weight: 600;
}

.service1 {
  grid-column: 1/2;
}
.service2 {
  grid-column: 2/3;
}
.service3 {
  grid-column: 3/4;
}
.service4 {
  grid-column: 4/5;
}

.contact-details form {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.contact-details form input {
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  height: 50px;
}
.contact-details form button {
  background-color: rgb(19, 137, 235);
  width: 150px;
  border-radius: 10px;
  margin: 0 auto;
}

.contact-details {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: rgb(29, 192, 233);
  max-width: 500px;
  width: 100%;
  border-radius: 50px;
  padding-bottom: 20px;
}

.contact-details form input:focus {
  outline: 3px solid red;
}

.contact-details form button:hover {
  color: blue;
  background-color: brown;
}

.copyright-icons ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.copyright-icons ul img {
  width: 30px;
}
.copyright-icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(31, 138, 226);
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 189, 238);
  }

  .about-us,
  .contact-details {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    font-size: 1rem;
  }
  .services,
  .header,
  .nav-menu ul,
  .copyright-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
  }

  .about-us,
  .contact-details {
    width: 90%;
  }
}
