body {
  background-color: rgb(11, 108, 187);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  min-height: 100vh;
  
}
.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.header img {
  width: 130px;
  border-radius: 40%;
}
.header p{
  font-size:1.5rem
}
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding-top: 20px;
  font-size:1.5rem;
  color:black;
}

.hero-section {
  background-color: rgb(183, 248, 237);
  background-blend-mode:darken;
  background-image: url("images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  max-width: 100%;
  
  display: flex;
  justify-content: center;
  margin: 50px auto;
  font-size:1.5rem;
  }

  .art-creation-description{
    text-align:center;
  }
  .hero-link{
    font-weight: bolder;
    color:blue;
    font-size: 1.5rem;
  }
p {
  font-weight: 600;
}
.about-us {
  background-color: rgb(43, 168, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 20px;
  padding: 25px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.about-us a{
  font-size:1.5rem;
  color:blue
}

.services img {
  width: 170px;
  height: 170px;
  border-radius: 20px;
  background-color: rgb(151, 122, 233);
  padding: 10px;
}
 
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.services div {
  border-radius: 20px;
  background-color: rgb(43, 168, 226);
}
.text-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service1 {
  grid-column: 1/2;

  display: flex;
}
.service2 {
  grid-column: 2/3;
  display: flex;
}
.service3 {
  grid-column: 3/4;
  display: flex;
}
.service4 {
  grid-column: 4/5;
  display: flex;
}

.contact-details form {
  display: flex;
  flex-direction: column;

  gap: 10px;
  input{
    border-radius:10px;
    width:250px;
    height:50px;
  }
  button{
    background-color:rgb(19, 137, 235);
    width:250px;
    border-radius: 10px;
    
  }

  
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(29, 192, 233);
  width: auto;
  border-radius: 50px;
  padding-bottom: 20px;

 
}

input:focus {
  outline: 3px solid red;
}

button:hover {
  
  color: blue;
  background-color: brown;
}

.copyright-icons ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.copyright-icons ul img {
  width: 30px;
}
.copyright-icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(31, 138, 226);
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 189, 238);
  }
}

@media screen and (max-width: 600px) {
  .services,
  .header,
  .nav-menu ul,
  .copyright-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
